DatabaseExplorer/DatabaseExplorer.xcodeproj/xcuserdata/kindgeek.xcuserdatad/xcschemes/DatabaseExplorer.xcscheme
DatabaseExplorer/DatabaseExplorer.xcodeproj/xcuserdata/kindgeek.xcuserdatad/xcschemes/xcschememanagement.plist
